<breadcrumbs crumbs="crumbs"></breadcrumbs>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="searchForm">
                    <form name="searchForm" class="form-horizontal" novalidate="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-3">
                                    <input type="text" class="form-control" name="q"
                                           ng-model="states.searchOptions.q">
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary" ng-click="search()">搜索</button>
                                </div>
                            </div>
                            <div class="row resume-filters">
                                <div class="col-md-1 col-md-offset-1">
                                    应聘职位
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a ng-click="setApplyPosition()">全部</a>
                                        </div>
                                        <div class="col-md-3" ng-repeat="term in facets.applyPosition.terms">
                                            <a ng-click="setApplyPosition(term.term)">{{term.term}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1">
                                    年龄
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a ng-click="setAge()">全部</a>
                                        </div>
                                        <div class="col-md-3" ng-repeat="entry in facets.age.entries">
                                            <a ng-click="setAge(entry.key)">{{entry.key | ageRange}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1">
                                    学历
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a ng-click="setHighestDegree()">全部</a>
                                        </div>
                                        <div class="col-md-3" ng-repeat="term in facets.highestDegree.terms">
                                            <a ng-click="setHighestDegree(term.term)">{{term.term | degree}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-content">
                        <div class="withbottomborder" ng-repeat="application in applications">
                            <div class="row">
                                <div class="col-md-1">
                                    <img ng-src="application.photo" class="img img-responsive">
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>{{application.name}}</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="row">
                                                        <span class="col-md-2">应聘职位</span>
                                                        <span class="col-md-3">{{application.applyPosition}}</span>
                                                        <span class="col-md-3">{{application.gender | gender}}</span>
                                                        <span class="col-md-2">{{application.birthday | yearAndMonth}}
                                                        </span>
                                                        <span class="col-md-2">{{application.created_at | shortDate}}应聘
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">最高学历</div>
                                                        <div class="col-md-3">{{application.educationHistory[0].from |
                                                            yearAndMonth}}
                                                            -- {{application.educationHistory[0].to | yearAndMonth}}
                                                        </div>
                                                        <div class="col-md-3">
                                                            {{application.educationHistory[0].school}}
                                                        </div>
                                                        <div class="col-md-2">
                                                            {{application.educationHistory[0].major}}
                                                        </div>
                                                        <div class="col-md-2">{{application.educationHistory[0].degree |
                                                            degree}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">最近工作</div>
                                                        <div class="col-md-3">{{application.workExperience[0].from |
                                                            yearAndMonth}}
                                                            -- {{application.workExperience[0].to | yearAndMonth}}
                                                        </div>
                                                        <div class="col-md-3">
                                                            {{application.workExperience[0].company}}
                                                        </div>
                                                        <div class="col-md-2">
                                                            {{application.workExperience[0].department}}
                                                        </div>
                                                        <div class="col-md-2">
                                                            {{application.workExperience[0].jobTitle}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="well">
                                                                {{application.careerObjective.selfAssessment}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 application-action-buttons">
                                                    <a href="/applications/new/{{application._id}}"
                                                       class="btn btn-primary">详细</a>
                                                    <button class="btn btn-success">面试</button>
                                                    <button class="btn btn-danger">归档</button>
                                                    <button class="btn btn-warning">待定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <row>
                    <div class="col-md-3">
                        共计{{totalApplicationCount}}
                    </div>
                    <div class="col-md-6" ng-show="showPagination()">
                        <pagination boundary-links="true" total-items="totalApplicationCount"
                                    items-per-page="states.pagingOptions.pageSize"
                                    ng-model="states.pagingOptions.currentPage"
                                    ng-change="getApplications()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;">
                        </pagination>
                    </div>
                </row>
            </div>
        </div>

    </div>
</div>