<breadcrumbs crumbs="crumbs"></breadcrumbs>

<div class="matter resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="'/app/common/resumeView.html'"></div>
        <div>
          <button class="btn btn-success btn-sm" ng-click="newEvent()"
                  ng-show="resume | showInterviewButton">预约面试
          </button>
          <button class="btn btn-success btn-sm" ng-click="pursue()"
                  ng-show="resume | showPursueButton">通过
          </button>
          <button class="btn btn-danger btn-sm" ng-click="archive()"
                  ng-show="resume | showArchiveButton">归档
          </button>
          <button class="btn btn-warning btn-sm" ng-click="undetermine()"
                  ng-show="resume | showUndetermineButton">待定
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
