<!-- /#logout -->
<!-- Logout Notification jQuery -->
<script src="js/plugins/popupoverlay/logout.js"></script>
<!-- HISRC Retina Images -->
<!--<script src="js/plugins/hisrc/hisrc.js"></script>-->

<!-- PAGE LEVEL PLUGIN SCRIPTS -->
<!-- HubSpot Messenger -->
<script src="/lib/messenger/build/js/messenger.min.js"></script>
<script src="/lib/messenger/build/js/messenger-theme-flat.js"></script>
<!-- Date Range Picker -->
<script src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Morris Charts -->
<script src="/lib/raphael/raphael-min.js"></script>
<script src="/lib/morris.js/morris.js"></script>
<!-- Flot Charts -->
<script src="/lib/flot/jquery.flot.js"></script>
<script src="/lib/flot/jquery.flot.resize.js"></script>
<!-- Sparkline Charts -->
<script src="/lib/sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Moment.js -->
<script src="/lib/moment/min/moment.min.js"></script>
<!-- jQuery Vector Map -->
<script src="/lib/jvectormap/jquery-jvectormap.js"></script>
<script src="js/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="/js/map-demo-data.js"></script>
<!-- Easy Pie Chart -->
<script src="/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<!-- DataTables -->
<script src="/lib/datatables/media/js/jquery.dataTables.js"></script>
<script src="js/plugins/datatables/datatables-bs3.js"></script>

<!-- THEME SCRIPTS -->
<!--<script src="/js/flex.js"></script>-->
<!--<script src="/js/dashboard-demo.js"></script>-->