<header class="clearfix">

<!-- Logo -->
<div class="logo">
  <a href="/">
    <span class="logo-icon fa fa-users"></span>
    <span>Compass</span>
  </a>
</div>

<!-- needs to be put after logo to make it working-->
<div class="menu-button" toggle-off-canvas>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</div>

<div class="top-nav">
  <ul class="nav-left list-unstyled">
    <li>
      <a href="/" data-toggle-min-nav
         class="toggle-min"
        ><i class="fa fa-bars"></i></a>
    </li>

    <li class="dropdown text-normal nav-profile">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">
                        <span>{{identity.currentUser.name}}</span>
                    </span>
      </a>
      <ul class="dropdown-menu dropdown-dark with-arrow">
        <li>
          <a href="#/settings/users/edit/{{identity.currentUser._id}}">
            <i class="fa fa-user"></i>
            <span data-i18n="My Profile">个人资料</span>
          </a>
        </li>
        <li>
          <a ng-click="logout()">
            <i class="fa fa-sign-out"></i>
            <span>注销</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="nav-right pull-right list-unstyled">
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle bg-orange" data-toggle="dropdown"
        ng-click="retrieveEventsForHeader()">
        <i class="fa fa-user"></i>
        <span class="badge badge-info">{{counts.eventsOfToday}}</span>
      </a>

      <div class="dropdown-menu pull-right with-arrow panel panel-default">
        <div class="panel-heading">
          您今天有{{counts.eventsOfToday}}场面试
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in eventsForHeader">
            <a href="" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-orange"><i class="fa fa-user"></i></span>
                                </span>

              <div class="media-body">
                <span class="text-muted block">{{event.from}}-{{event.to}}</span>
                <span class="block">{{event.title}}</span>
              </div>
            </a>
          </li>
        </ul>
        <div class="panel-footer">
          <a href="#/events">查看所有事件</a>
        </div>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle bg-warning" data-toggle="dropdown"
        ng-click="retrieveReviewsForHeader()">
        <i class="fa fa-pencil"></i>
        <span class="badge badge-info">{{counts.toBeReviewed}}</span>
      </a>

      <div class="dropdown-menu pull-right with-arrow panel panel-default">
        <div class="panel-heading">
          您有{{counts.toBeReviewed}}个面试待评价.
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="unreviewed in unreviewedForHeader">
            <a href="#/interviews/reviews/{{unreviewed.interviewId}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-warning"><i class="fa fa-envelope-o"></i></span>
                                </span>

              <div class="media-body">
                <span class="text-muted block">{{unreviewed.startTime|shortDate}}</span>
                <span class="block">{{unreviewed.name}}应聘{{unreviewed.applyPosition}}</span>
              </div>
            </a>
          </li>

        </ul>
        <div class="panel-footer">
          <a href="#/interviews/reviews">查看所有待评价面试</a>
        </div>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle bg-success" data-toggle="dropdown">
        <i class="fa fa-bell-o nav-icon"></i>
        <span class="badge badge-info">3</span>
      </a>

      <div class="dropdown-menu pull-right with-arrow panel panel-default">
        <div class="panel-heading">
          You have 3 notifications.
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                </span>

              <div class="media-body">
                <span class="block">New tasks needs to be done</span>
                <span class="text-muted block">2min ago</span>
              </div>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-info"><i class="fa fa-bell-o"></i></span>
                                </span>

              <div class="media-body">
                <span class="block">Change your password</span>
                <span class="text-muted">3 hours ago</span>
              </div>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-danger"><i class="fa fa-bell-o"></i></span>
                                </span>

              <div class="media-body">
                <span class="block">New feature added</span>
                <span class="text-muted">9 hours ago</span>
              </div>
            </a>
          </li>
        </ul>
        <div class="panel-footer">
          <a href="javascript:;">Show all notifications.</a>
        </div>
      </div>
    </li>
    <li>
      <a href="#/tasks" class="bg-info">
        <i class="fa fa-tasks"></i>
      </a>
    </li>
  </ul>
</div>

</header>
