<div class="modal-header">
  <h3 class="modal-title" ng-show="isNew">创建面试预约</h3>

  <h3 class="modal-title" ng-show="!isNew">修改面试预约</h3>
</div>
<div class="modal-body">

  <form name="eventForm" class="form-horizontal form-validation" novalidate="">
    <div class="form-group">
      <span class="control-label col-md-2">姓名</span>
      <span class="control-label col-md-2">{{event.name}}</span>
      <span class="control-label col-md-2">应聘职位</span>
      <span class="control-label col-md-4">{{event.applyPosition}}</span>
    </div>
    <div class="form-group">
      <span class="control-label col-md-2">手机</span>
      <span class="control-label col-md-2">{{event.mobile}}</span>
      <span class="control-label col-md-2">邮箱</span>
      <span class="control-label col-md-4">{{event.email}}</span>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">时间</label>

      <div class="col-md-9">
        <div datetimepicker ng-model="event.startTime" use-seconds="false" min-date="today"
             side-by-side="true" class='input-group date' data-date-format="YYYY年MM月DD日 HH:mm">
          <input type='text' class="form-control"/>
          <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>

        <p class="text-danger"
           ng-show="eventForm.time.$invalid && !eventForm.time.$pristine">
          请输入预约时间</p>
      </div>
    </div>
    <div class="form-group">
      <lable class="control-label col-md-2">时长</lable>
      <div class="col-md-9">
        <input type="number" class="form-control" ng-model="event.duration" name="duration"
               placeholder="请输入时长(分钟)" ng-pattern="/\d+/" required=""/>

        <p class="text-danger"
           ng-show="eventForm.duration.$error.required && !eventForm.duration.$pristine">
          请输入时长</p>

        <p class="text-danger"
           ng-show="eventForm.duration.$error.pattern && !eventForm.duration.$pristine">
          请输入数字</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">面试官</label>

      <div class="col-md-9">
        <select ui-select2 class="form-control" name="interviewers" ng-model="event.interviewers"
                ng-required="true" data-placeholder="请选择面试官，可以多选" multiple="true">
          <option ng-repeat="user in users" value="{{user._id}}">{{user.name}}</option>
        </select>

        <p class="text-danger"
           ng-show="eventForm.interviewers.$invalid && !eventForm.interviewers.$pristine">
          请输入面试官</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <p class="well" ng-hide="eventSetting.duration">
          可以在【面试设置】中设置面试默认时长及邮件提醒功能
        </p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-info pull-left" ng-hide="isNew" ng-click="viewResume(event.application)">简历</button>
  <button class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-show="isNew" ng-click="create()">创建</button>
  <button class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-hide="isNew" ng-click="update()">修改</button>
  <button class="btn btn-warning"  ng-hide="isNew" ng-click="remove()">删除</button>
  <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>

