mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype
html
  head
    meta(http-equiv='Content-Type',content='text/html;charset=utf-8')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    title Compass
    link(rel='stylesheet',href='/css/bootstrap.css')
    link(rel='stylesheet',href='/css/font-awesome.css')
    link(rel='stylesheet',href='/css/jquery-ui-1.9.2.custom.min.css')
    link(rel='stylesheet',href='/css/fullcalendar.css')
    link(rel='stylesheet',href='/css/prettyPhoto.css')
    link(rel='stylesheet',href='/css/rateit.css')
    link(rel='stylesheet',href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet',href='/css/jquery.cleditor.css')
    link(rel='stylesheet',href='/css/uniform.default.css')
    link(rel='stylesheet',href='/css/daterangepicker-bs3.css')
    link(rel='stylesheet',href='/css/bootstrap-switch.css')
    link(rel='stylesheet',href='/css/jquery.gritter.css')
    link(rel='stylesheet',href='/lib/ng-grid/ng-grid.min.css')
    link(rel='stylesheet',href='/css/style.css')
    link(rel='stylesheet',href='/css/widgets.css')

    link(rel='shortcut icon', href='/img/favicon/favicon.png')

    +ie('if lt IE 9')
      script(type='text/javascript', src='/js/html5shim.js')

  body
    header
      .navbar.navbar-fixed-top.bs-docs-nav(role="banner")
        .container
          .navbar-header
            button.navbar-toggle.btn-navbar(data-toggle='collapse',data-target='.bs-navbar-collapse')
              span Menu
            a.pull-left.menubutton.hidden-xs(href='#')
              i.fa.fa-bars
            a.navbar-brand(href='/') Compass
          nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
            ul.nav.navbar-nav.pull-right
              li.dropdown.pull-right.user-data
                a.dropdown-toggle(data-toggle='dropdown',href='#')= user.name
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') <i class="fa fa-user"></i> 个人资料
                    a(href='#') <i class="fa fa-cogs"></i> 设置
                    a(href='/logout') <i class="fa fa-key"></i> 注销
              li.dropdown.dropdown-big.leftonmobile
                a.dropdown-toggle(href='#',data-toggle='dropdown')
                  i.fa.fa-cloud-upload
                ul.dropdown-menu
                  li
                    p Photo Upload in Progress
                    .progress.progress-striped.active
                      .progress-bar.progress-bar-info(role='progressbar',aria-valuenow='40',aria-valuemin='0',aria-valuemax='100',style='width: 40%')
                        span.sr-only 40% Complete
                    p Video Upload in Progress
                    .progress.progress-striped.active
                      .progress-bar.progress-bar-info(role='progressbar',aria-valuenow='80',aria-valuemin='0',aria-valuemax='100',style='width: 40%')
                        span.sr-only 80% Complete
                    hr
                    .drop-foot
                      a(href='#') View All
              li.dropdown.dropdown-big.leftonmobile
                a.dropdown-toggle(href='#',data-toggle='dropdown')
                  i.fa.fa-refresh
                ul.dropdown-menu
                  li
                    p
                      span.label.label-info <i class="fa fa-cloud"></i></span> Syncing Photos to Server
                    p
                      span.label.label-warning <i class="fa fa-cloud"></i></span> Syncing Bookmarks Lists to Cloud
                    hr
                    .drop-foot
                      a(href='#') View All
              li.dropdown.dropdown-big.leftonmobile
                a.dropdown-toggle(href='#',data-toggle='dropdown')
                  i.fa.fa-comments
                  span.label.label-info 6
                ul.dropdown-menu
                  li.dropdown-header.padless
                    h5 <i class="fa fa-comments"></i> Chats
                  li
                    hr
                    h6
                      a(href='#') Hi :)
                      span.label.label-warning.pull-right 10:42
                    .clearfix
                    hr
                  li
                    h6
                      a(href='#') How are you?
                      span.label.label-warning.pull-right 20:42
                    .clearfix
                    hr
                  li
                    h6
                      a(href='#') How are you?
                      span.label.label-warning.pull-right 20:42
                    .clearfix
                    hr
                  li
                    .drop-foot
                      a(href='#') View All

              li.dropdown.dropdown-big.messages-dd.leftonmobile
                a.dropdown-toggle(href='#',data-toggle='dropdown')
                  i.fa.fa-envelope-o
                  span.label.label-primary 3
                ul.dropdown-menu
                  li.dropdown-header.padless
                    h5 <i class="fa fa-envelope-alt"></i> Messages
                  li
                    hr
                    h6
                      a(href='#') Hello how are you?
                    p Quisque eu consectetur erat eget semper...
                    hr
                  li
                    h6
                      a(href='#') Today is wonderful?
                    p Quisque eu consectetur erat eget semper...
                    hr
                  li
                    .drop-foot
                      a(href='#') View All

              li.dropdown.dropdown-big
                a.dropdown-toggle(href='#',data-toggle='dropdown')
                  i.fa.fa-user
                  span.label.label-success 7
                ul.dropdown-menu
                  li.dropdown-header.padless
                    h5 <i class="fa fa-user"></i> Users
                  li
                    hr
                    h6
                      a(href='#') John Doe
                      span.label.label-warning.pull-right Free
                    .clearfix
                    hr
                  li
                    h6
                      a(href='#') Iron Man
                      span.label.label-important.pull-right Premium
                    .clearfix
                    hr
                  li
                    h6
                      a(href='#') Salamander
                      span.label.label-warning.pull-right Free
                    .clearfix
                    hr
                  li
                    .drop-foot
                      a(href='#') View All

    .content
      .sidebar
        .sidebar-dropdown
          a(href='#') Navigation
        form.navbar-form(role='search')
          .form-group
            input.form-control(placeholder='Search')
            button.btn.search-button(type='submit')
              i.fa.fa-search
        ul#nav
          li
            a.open(href='/')
              i.fa.fa-home
              span 仪表盘
          li.has_sub
            a(href='#')
              i.fa.fa-list-alt
              span 设置
              span.pull-right
                i.fa.fa-chevron-left
            ul
              li
                a(href='#/emails') 简历邮箱
              li
                a(href='#/emails') 简历邮箱
              li
                a(href='#/emails') 简历邮箱
          li
            a(href='/charts.html')
              i.fa.fa-bar-chart-o
              span Charts
          li
            a(href='/tables.html')
              i.fa.fa-table
              span Tables
          li
            a(href='/forms.html')
              i.fa.fa-tasks
              span Forms
          li
            a(href='/ui.html')
              i.fa.fa-magic
              span User Interface
          li
            a(href='/typography.html')
              i.fa.fa-edit
              span Typography
          li
            a(href='/calendar.html')
              i.fa.fa-calendar
              span Calendar

      .mainbar(ng-view)
      .clearfix

    footer
      .container
        .row
          .col-md-12
            p.copy Copyright &copy; 2013 | <a href="#">Compass</a>
    span.totop
      a(href='#')
      i.fa.fa-chevron-up

    script(type='text/javascript',src="/js/jquery.js")
    script(type='text/javascript',src="/js/bootstrap.js")
    script(type='text/javascript',src="/js/jquery-ui-1.9.2.custom.min.js")
    script(type='text/javascript',src="/js/fullcalendar.min.js")
    script(type='text/javascript',src="/js/jquery.rateit.min.js")
    script(type='text/javascript',src="/js/jquery.prettyPhoto.js")
    script(type='text/javascript',src="/js/raphael-min.js")
    script(type='text/javascript',src="/js/morris.min.js")
    script(type='text/javascript',src="/js/excanvas.min.js")
    script(type='text/javascript',src="/js/jquery.flot.js")
    script(type='text/javascript',src="/js/jquery.flot.resize.js")
    script(type='text/javascript',src="/js/jquery.flot.pie.js")
    script(type='text/javascript',src="/js/jquery.flot.stack.js")
    script(type='text/javascript',src="/js/jquery.noty.js")
    script(type='text/javascript',src="/js/themes/default.js")
    script(type='text/javascript',src="/js/layouts/bottom.js")
    script(type='text/javascript',src="/js/layouts/topRight.js")
    script(type='text/javascript',src="/js/layouts/top.js")
    script(type='text/javascript',src="/js/moment.min.js")
    script(type='text/javascript',src="/js/daterangepicker.js")
    script(type='text/javascript',src="/js/sparklines.js")
    script(type='text/javascript',src="/js/jquery.gritter.min.js")
    script(type='text/javascript',src="/js/jquery.cleditor.min.js")
    script(type='text/javascript',src="/js/bootstrap-datetimepicker.min.js")
    script(type='text/javascript',src="/js/jquery.uniform.min.js")
    script(type='text/javascript',src="/js/jquery.slimscroll.min.js")
    script(type='text/javascript',src="/js/bootstrap-switch.min.js")
    script(type='text/javascript',src="/js/jquery.maskedinput.min.js")
    script(type='text/javascript',src="/js/dropzone.js")
    script(type='text/javascript',src="/js/filter.js")
    script(type='text/javascript',src="/js/custom.js")
    script(type='text/javascript',src="/js/charts.js")
    script(type='text/javascript',src="/lib/angular/angular.min.js")
    script(type='text/javascript',src="/lib/angular-cookies/angular-cookies.min.js")
    script(type='text/javascript',src="/lib/angular-resource/angular-resource.min.js")
    script(type='text/javascript',src="/lib/angular-route/angular-route.min.js")
    script(type='text/javascript',src="/lib/angular-ui-router/release/angular-ui-router.js")
    script(type='text/javascript',src="/lib/angular-bootstrap/ui-bootstrap.js")
    script(type='text/javascript',src="/lib/angular-bootstrap/ui-bootstrap-tpls.js")
    script(type='text/javascript',src="/lib/ng-grid/build/ng-grid.js")

    script(type='text/javascript',src="/app/app.js")
    script(type='text/javascript',src="/app/config.js")
    script(type='text/javascript',src="/app/directives.js")
    script(type='text/javascript',src="/app/filters.js")
    script(type='text/javascript',src="/app/services.js")
    script(type='text/javascript',src="/app/services/global.js")
    script(type='text/javascript',src="/app/services/articles.js")
    script(type='text/javascript',src="/app/controllers/articles.js")
    script(type='text/javascript',src="/app/controllers/index.js")
    script(type='text/javascript',src="/app/controllers/header.js")
    script(type='text/javascript',src="/app/controllers/emails.js")
    script(type='text/javascript',src="/app/init.js")
    script(type='text/javascript',src="/app/services/global.js")
    script(type='text/javascript',src="/app/services/global.js")

    if process.env.NODE_ENV === 'development'
      script(type='text/javascript',src='http://localhost:35729/livereload.js')









