<!DOCTYPE html>
<html lang="en">
<head>
  {% include './includes/meta.html' %}
  {% include './includes/styles.html' %}
</head>

<body ng-app="compass" class="bigscreen">
<header>
  <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
    <div ng-include="'/app/common/navbar-top.html'"/>
  </div>
</header>

<div class="content">
  {% include './includes/currentUser.html' %}
  <div ng-include="'/app/common/sidebar.html'"></div>
  <div class="mainbar">
    <div ng-view=""/>
  </div>
  <div class="clearfix"></div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">Copyright &copy; 2013 | <a href="#">Compass</a></p>
      </div>
    </div>
  </div>
</footer>

<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
{% include './includes/scripts.html' %}
</body>
</html>