<!doctype html>
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <title>领聘网</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- build:css(public) styles/vendor.css -->
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendor/fullcalendar/fullcalendar.css">
  <link rel="stylesheet" href="/vendor/select2/select2.css">
  <link rel="stylesheet" href="/vendor/select2/select2-bootstrap.css">
  <link rel="stylesheet" href="/vendor/angular-ui-tree/dist/angular-ui-tree.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css">
  <link rel="stylesheet" href="/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="/vendor/trNgGrid/release/trNgGrid.min.css"/>
  <link rel="stylesheet" href="/vendor/nvd3/nv.d3.min.css"/>
  <link rel="stylesheet" href="/vendor/angular-wizard/dist/angular-wizard.min.css"/>
  <!-- endbuild -->
  <!-- build:css(public) styles/main.css -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/compass.css">
  <!-- endbuild -->
</head>

<body ng-app="compass" id="app" data-custom-background data-off-canvas-nav>
<!--[if lt IE 8]>
<h3 class="browsehappy">您正在使用的浏览器版本较低，为了您更好的体验，请使用<strong>IE9，IE10，IE11或者Chrome</strong>浏览器访问领聘网</h3>
<![endif]-->

<div ng-controller="mvNavCtrl">
  <div
    ng-show="identity.isAuthenticated()"
    data-ng-cloak
    class="no-print">
    <section data-ng-include=" 'app/common/header.html' "
             id="header" class="top-header"></section>

    <aside data-ng-include=" 'app/common/nav.html' "
           id="nav-container"></aside>
  </div>

  <div class="view-container">
    {% include './includes/currentUser.html' %}
    <section data-ng-view id="content" class="animate-fade-up"></section>
  </div>
</div>
<!-- build:js(public) scripts/vendor.js -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-route/angular-route.min.js"></script>
<script src="/vendor/angular-animate/angular-animate.min.js"></script>
<script src="/vendor/angular-cookies/angular-cookies.min.js"></script>
<script src="/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/vendor/textAngular/dist/textAngular-sanitize.min.js"></script>
<script src="/vendor/moment/min/moment-with-langs.min.js"></script>
<script src="/vendor/lodash/dist/lodash.min.js"></script>
<script src="/vendor/jquery-ui/ui/jquery-ui.custom.js"></script>

<script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/vendor/toastr/toastr.min.js"></script>
<script src="/vendor/jquery.slimscroll/jquery.slimscroll.min.js"></script>

<script src="/vendor/textAngular/dist/textAngular.min.js"></script>
<script src="/vendor/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="/vendor/ng-tags-input/ng-tags-input.min.js"></script>

<script src="/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/vendor/d3/d3.min.js"></script>
<script src="/scripts/vendors/nv.d3.js"></script>
<script src="/vendor/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.min.js"></script>

<script src="/vendor/trNgGrid/src/js/trNgGrid.js"></script>
<script src="/vendor/fullcalendar/fullcalendar.min.js"></script>
<script src="/vendor/angular-ui-calendar/src/calendar.js"></script>

<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/select2/select2_locale_zh-CN.js"></script>
<script src="/vendor/angular-ui-select2/src/select2.js"></script>

<script src="/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/vendor/angulartics/dist/angulartics.min.js"></script>
<script src="/vendor/angulartics/dist/angulartics-ga.min.js"></script>
<script src="/vendor/jquery-html5-placeholder-shim/jquery.html5-placeholder-shim.js"></script>
<script src="/vendor/angular-placeholder-shim/angular-placeholder-shim.min.js"></script>
<script src="/vendor/angular-wizard/dist/angular-wizard.min.js"></script>

<!-- endbuild -->

<!-- build:js(public) scripts/scripts.js -->
<script src="/app/components/datetimepicker.js"></script>
<script src="/app/components/daterangepicker.js"></script>
<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/config.js"></script>
<script type="text/javascript" src="/app/common/directives.js"></script>
<script type="text/javascript" src="/app/directives.js"></script>
<script type="text/javascript" src="/app/filters.js"></script>

<script type="text/javascript" src="/app/common/mvPermission.js"></script>
<script type="text/javascript" src="/app/common/mvNotifier.js"></script>
<script type="text/javascript" src="/app/auth/mvIdentity.js"></script>
<script type="text/javascript" src="/app/auth/mvSession.js"></script>
<script type="text/javascript" src="/app/auth/mvAuth.js"></script>

<script type="text/javascript" src="/app/common/mvNav.js"></script>
<script type="text/javascript" src="/app/common/mvNavCtrl.js"></script>
<script type="text/javascript" src="/app/auth/mvLoginCtrl.js"></script>

<script type="text/javascript" src="/app/forgot/mvForgot.js"></script>
<script type="text/javascript" src="/app/forgot/mvForgotCtrl.js"></script>
<script type="text/javascript" src="/app/forgot/mvResetCtrl.js"></script>

<script type="text/javascript" src="/app/signup/mvSignupNewCtrl.js"></script>
<script type="text/javascript" src="/app/signup/mvSignup.js"></script>
<script type="text/javascript" src="/app/signup/mvSignupSuccessCtrl.js"></script>
<script type="text/javascript" src="/app/signup/mvSignupActivateCtrl.js"></script>

<script type="text/javascript" src="/app/emails/mvEmail.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailNewCtrl.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailListCtrl.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailEditCtrl.js"></script>

<script type="text/javascript" src="/app/users/mvUser.js"></script>
<script type="text/javascript" src="/app/users/mvUserNewCtrl.js"></script>
<script type="text/javascript" src="/app/users/mvUserListCtrl.js"></script>
<script type="text/javascript" src="/app/users/mvUserEditCtrl.js"></script>
<script type="text/javascript" src="/app/users/mvUser.js"></script>

<script type="text/javascript" src="/app/roles/mvRole.js"></script>
<script type="text/javascript" src="/app/roles/mvRoleNewCtrl.js"></script>
<script type="text/javascript" src="/app/roles/mvRoleListCtrl.js"></script>
<script type="text/javascript" src="/app/roles/mvRoleEditCtrl.js"></script>

<script type="text/javascript" src="/app/positions/mvPosition.js"></script>
<script type="text/javascript" src="/app/positions/mvPositionNewCtrl.js"></script>
<script type="text/javascript" src="/app/positions/mvPositionListCtrl.js"></script>
<script type="text/javascript" src="/app/positions/mvPositionEditCtrl.js"></script>

<script type="text/javascript" src="/app/companies/mvCompany.js"></script>
<script type="text/javascript" src="/app/companies/mvCompanyListCtrl.js"></script>

<script type="text/javascript" src="/app/mails/mvMail.js"></script>
<script type="text/javascript" src="/app/mails/mvMailListCtrl.js"></script>
<script type="text/javascript" src="/app/mails/mvMailViewCtrl.js"></script>

<script type="text/javascript" src="/app/resumes/mvResume.js"></script>
<script type="text/javascript" src="/app/resumes/mvResumeListCtrl.js"></script>
<script type="text/javascript" src="/app/resumes/mvResumeViewCtrl.js"></script>

<script type="text/javascript" src="/app/eventSetting/mvEventSetting.js"></script>
<script type="text/javascript" src="/app/eventSetting/mvEventSettingCtrl.js"></script>

<script type="text/javascript" src="/app/applicationSetting/mvApplicationSetting.js"></script>
<script type="text/javascript" src="/app/applicationSetting/mvApplicationSettingCtrl.js"></script>

<script type="text/javascript" src="/app/evaluationCriterions/mvEvaluationCriterion.js"></script>
<script type="text/javascript" src="/app/evaluationCriterions/mvEvaluationCriterionEditCtrl.js"></script>

<script type="text/javascript" src="/app/applications/mvApplication.js"></script>
<script type="text/javascript" src="/app/applications/mvApplicationListCtrl.js"></script>
<script type="text/javascript" src="/app/applications/mvApplicationViewCtrl.js"></script>

<script type="text/javascript" src="/app/events/mvEvent.js"></script>
<script type="text/javascript" src="/app/events/mvEventNewCtrl.js"></script>
<script type="text/javascript" src="/app/events/mvEventListCtrl.js"></script>

<script type="text/javascript" src="/app/interviews/mvInterview.js"></script>

<script type="text/javascript" src="/app/reviews/mvReview.js"></script>
<script type="text/javascript" src="/app/reviews/mvReviewListCtrl.js"></script>
<script type="text/javascript" src="/app/reviews/mvReviewNewCtrl.js"></script>
<script type="text/javascript" src="/app/interviews/mvInterviewListCtrl.js"></script>
<script type="text/javascript" src="/app/interviews/mvInterviewViewCtrl.js"></script>
<script type="text/javascript" src="/app/offers/mvOfferListCtrl.js"></script>
<script type="text/javascript" src="/app/onboard/mvOnboardListCtrl.js"></script>
<script type="text/javascript" src="/app/systemOperations/mvSystemOperationsCtrl.js"></script>
<script type="text/javascript" src="/app/today/mvTodayCtrl.js"></script>

<script type="text/javascript" src="/app/resumeReports/mvResumeReportViewCtrl.js"></script>
<script type="text/javascript" src="/app/interviewReports/mvInterviewReportViewCtrl.js"></script>
<script type="text/javascript" src="/app/tutorial/mvTutorialCtrl.js"></script>

<!-- endbuild -->

{% if (process.env.NODE_ENV == 'development') %}
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
{% endif %}

<!-- Start of GA Code -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-52914208-1', 'auto');
</script>
<!-- End of GA Code -->
</body>
</html>