<div class="page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>面试评价</strong>

      <div class="pull-right">
        <a href="" class="btn btn-xs btn-success" ng-click="add()"><i class="fa fa-plus-circle"></i>添加</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" ng-click="save()">保存</button>
    </div>
  </div>
</div>