{% extends 'auth.html' %}

{% block auth %}
<!--<div class="login-banner text-center">-->
<!--<h1><i class="fa fa-gears"></i> Flex Admin</h1>-->
<!--</div>-->
<!--<div class="portlet portlet-green">-->
<!--<div class="portlet-heading login-heading">-->
<!--<div class="portlet-title">-->
<!--<h4><strong>Login to Flex Admin!</strong>-->
<!--</h4>-->
<!--</div>-->
<!--<div class="portlet-widgets">-->
<!--<button class="btn btn-white btn-xs"><i class="fa fa-plus-circle"></i> New User</button>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="portlet-body">-->
<!--<form accept-charset="UTF-8" role="form">-->
<!--<fieldset>-->
<!--<div class="form-group">-->
<!--<input class="form-control" placeholder="E-mail" name="email" type="text">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input class="form-control" placeholder="Password" name="password" type="password"-->
<!--value="">-->
<!--</div>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
<!--</label>-->
<!--</div>-->
<!--<br>-->
<!--<a href="index.html" class="btn btn-lg btn-green btn-block">Sign In</a>-->
<!--</fieldset>-->
<!--<br>-->

<!--<p class="small">-->
<!--<a href="#">Forgot your password?</a>-->
<!--</p>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->


<form class="signin form-horizontal" action="/users/session" method="post">
    <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>

        <div class="col-md-8">
            <input id="email" class="form-control" type="text" name="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>

        <div class="col-md-8">
            <input id="password" class="form-control" type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" type="submit">Sign in</button>
            &nbsp;
            or&nbsp;<a class="show-signup" href="/signup">Sign up</a>
        </div>
    </div>
</form>
{% endblock %}
