<html>
<head>
    <title>激活邮件</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">激活您在Compass的注册</div>
                <div class="panel-body">
                    <a href="{{link}}" class="btn btn-primary btn-lg">激活</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>