<breadcrumbs crumbs="crumbs"></breadcrumbs>
<div class="matter">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="widget">
          <div class="widget-content">
            <div ng-repeat="interview in interviews">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <span class="col-md-1">{{interview.name}}</span>
                    <span class="col-md-2">{{interview.applyPosition}}</span>

                    <div class="col-md-6 col-md-offset-2">
                      <div class="row" ng-repeat="event in interview.events">
                        <div class="col-md-5">{{event.startTime | longDate}}</div>
                        <div class="col-md-7">{{event.interviewers | interviewers}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="panel-body" >-->
                  <div class="row" ng-repeat="review in reviews" ng-show="interview.reviews">
                    <div class="col-md-3">
                      {{review.interviewer.name}}
                    </div>
                    <div class="col-md-3">
                      {{review.createdAt}}
                    </div>
                    <div class="col-md-3">
                      {{review.score}}
                    </div>
                    <div class="col-md-3">
                      {{review.qualified}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="pull-right interview-action-buttons">
                        <button class="btn btn-primary btn-sm">详细</button>
                        <button class="btn btn-success btn-sm">写评价</button>
                      </div>
                    </div>
                  </div>
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>