<div class="page">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>{{title}}</strong>
    </div>
    <div class="panel-body">
      <blockquote ng-show="interviews.length === 0" class="col-md-4 col-md-offset-4">
        您没有未评价的面试
      </blockquote>
      <div ng-repeat="interview in interviews">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <span class="col-md-1">{{interview.name}}</span>
              <span class="col-md-2">{{interview.applyPosition}}</span>

              <div class="col-md-6 col-md-offset-2">
                <div class="row" ng-repeat="event in interview.events | orderBy:'startTime':true">
                  <div class="col-md-5">{{event.startTime | longDate}}</div>
                  <div class="col-md-7">{{event.interviewers | interviewers}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-repeat="review in reviews" ng-show="interview.reviews">
            <div class="col-md-3">
              {{review.interviewer.name}}
            </div>
            <div class="col-md-3">
              {{review.createdAt}}
            </div>
            <div class="col-md-3">
              {{review.score}}
            </div>
            <div class="col-md-3">
              {{review.qualified}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right interview-action-buttons">
                <button class="btn btn-success btn-sm " ng-click="newEvent(interview)">预约面试</button>
                <button ng-click='view(interview._id)' class="btn btn-primary btn-sm">详细</button>
                <button ng-click='newReview(interview._id)' class="btn btn-warning btn-sm">写评价</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>