<div id="printable" class="page" ng-if="isShowDetail">
  <section class="panel panel-default">
    <div class="panel-heading no-print">
      <strong>{{interview.name}}</strong>
      <span class="pull-right">{{interview.applyPosition}}</span>
    </div>
    <div class="panel-body">
      <div>
        <button class="no-print btn btn-success btn-sm pull-right button-above-table" ng-click="viewResume()">完整简历</button>
        <h5>基本信息</h5>
        <table class="table table-bordered">
          <tr>
            <td class="col-md-2">姓名</td>
            <td class="col-md-3">{{interview.name}}</td>
            <td class="col-md-2">应聘职位</td>
            <td class="col-md-4">
              <div ng-hide="editing">
                <span>{{interview.applyPosition}}</span>
                <edit-button class="no-print" action="editApplyPosition()"></edit-button>
              </div>
              <div ng-if="editing" >
                <input type="text" ng-model="newApplyPosition" name="applyPosition"
                       typeahead="position for position in positions | filter:$viewValue | limitTo:8"/>
                <button class="btn btn-primary btn-sm" ng-click="updateApplyPosition()"
                        ng-disabled="!newApplyPositionValid()">保存
                </button>
                <button class="btn btn-default btn-sm" ng-click="cancelEditApplyPosition()">取消</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>手机</td>
            <td>{{interview.mobile}}</td>
            <td>邮箱</td>
            <td>{{interview.email}}</td>
          </tr>
        </table>
        <button class="btn btn-success btn-sm pull-right button-above-table no-print" ng-click="newEvent()">预约面试</button>
        <h5>面试安排</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th class="col-md-3">开始时间</th>
              <th class="col-md-2">时长</th>
              <th class="col-md-5">面试官</th>
              <th class="no-print" class="col-md-2">操作</th>
            </tr>
            <tr ng-repeat="event in interview.events | orderBy:startTime:false"
                ng-class="{'active': (event.startTime | isPast)}">
              <td>{{event.startTime | longDate}}</td>
              <td>{{event.duration}}分钟</td>
              <td>{{event.interviewers | interviewers}}</td>
              <td class="no-print">
                <edit-button action="editEvent(event)"></edit-button>
                <delete-button action="removeEvent(event)"></delete-button>
              </td>
            </tr>
          </table>
        </div>
        <h5>评价</h5>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>面试官</th>
              <th ng-repeat="head in reviewHeader">{{head}}</th>
              <th>总分</th>
              <th>通过</th>
              <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="review in interview.reviews">
              <td>{{review.interviewer.name}}</td>
              <td ng-repeat="head in reviewHeader">
                <rating class="ui-rating" ng-model="reviewData[review.interviewer._id][head]"
                        state-on="'fa fa-star'" state-off="'fa fa-star-o'" readonly="true">
                </rating>
              </td>
              <td>{{review.totalScore}}</td>
              <td >
                <status-span value="!review.qualified">{{review.qualified | qualified}}</status-span>
              </td>
              <td>{{review.createdAt | shortDate}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row no-print">
          <div class="col-md-4" ng-repeat="review in interview.reviews | filter:{qualified:true}">
            <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
              <div class="ui-ribbon-wrapper">
                <div class="ui-ribbon">
                  通过
                </div>
              </div>
              <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>{{review.interviewer.name}}</div>
              <div class="panel-body">
                <p>{{review.comment}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-repeat="review in interview.reviews | filter:{qualified:false}">
            <div class="panel panel-default ui-ribbon-container ui-ribbon-danger">
              <div class="ui-ribbon-wrapper">
                <div class="ui-ribbon">
                  拒绝
                </div>
              </div>
              <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>{{review.interviewer.name}}</div>
              <div class="panel-body">
                <p>{{review.comment}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row callout callout-info" ng-if="interview.status !== 'new'">
          <div class="col-md-2">
            面试结果
          </div>
          <div class="col-md-4">
            {{interview | interviewStatus}}
          </div>
        </div>
      </div>
      <div class="row no-print">
        <div align="center">
          <button class="btn btn-success btn-lg" ng-click="offer()"> 接受</button>
          <button class="btn btn-danger btn-lg" ng-click="reject()"> 拒绝</button>
        </div>
      </div>
    </div>
    <div class="panel-footer no-print">
      <button class="btn btn-primary btn-sm" ng-click="cancel()">返回列表</button>
      <button class="btn btn-info btn-sm" ng-click="print()">打印评分表</button>
    </div>
  </section>
</div>
