<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<!-- Morris JS -->
<script type="text/javascript" src="/js/raphael-min.js"></script>
<script type="text/javascript" src="/js/morris.min.js"></script>
<!-- jQuery Flot -->
<script type="text/javascript" src="/js/excanvas.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot.js"></script>
<script type="text/javascript" src="/js/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/js/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/js/jquery.flot.stack.js"></script>
<!-- jQuery Notification - Noty -->
<script type="text/javascript" src="/js/jquery.noty.js"></script>
<script type="text/javascript" src="/js/themes/default.js"></script>
<script type="text/javascript" src="/js/layouts/bottom.js"></script>
<script type="text/javascript" src="/js/layouts/topRight.js"></script>
<script type="text/javascript" src="/js/layouts/top.js"></script>
<!-- Daterangepicker -->
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker.js"></script>

<script type="text/javascript" src="/js/sparklines.js"></script>
<!-- Sparklines -->
<script type="text/javascript" src="/js/jquery.gritter.min.js"></script>
<!-- jQuery Gritter -->
<script type="text/javascript" src="/js/jquery.cleditor.min.js"></script>
<!-- CLEditor -->
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<!-- Date picker -->
<script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
<!-- jQuery Uniform -->
<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
<!-- jQuery SlimScroll -->
<script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>
<!-- Bootstrap Toggle -->
<script type="text/javascript" src="/js/jquery.maskedinput.min.js"></script>
<!-- jQuery Masked Input -->
<script type="text/javascript" src="/js/dropzone.js"></script>
<!-- jQuery Dropzone -->
<script type="text/javascript" src="/js/filter.js"></script>
<!-- Filter for support page -->
<script type="text/javascript" src="/js/custom.js"></script>


<!-- Angular JS -->

<script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="/vendor/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/vendor/ng-grid/build/ng-grid.js"></script>

<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/directives.js"></script>
<script type="text/javascript" src="/app/filters.js"></script>

<script type="text/javascript" src="/app/auth/mvIdentity.js"></script>
<script type="text/javascript" src="/app/auth/mvSession.js"></script>
<script type="text/javascript" src="/app/auth/mvAuth.js"></script>

<script type="text/javascript" src="/app/common/mvNavbarTopCtrl.js"></script>
<script type="text/javascript" src="/app/common/mvSidebarCtrl.js"></script>
<script type="text/javascript" src="/app/auth/mvLoginCtrl.js"></script>

<script type="text/javascript" src="/app/signup/mvSignupNewCtrl.js"></script>
<script type="text/javascript" src="/app/signup/mvSignup.js"></script>
<script type="text/javascript" src="/app/signup/mvSignupSuccessCtrl.js"></script>
<script type="text/javascript" src="/app/signup/mvSignupActivateCtrl.js"></script>

<script type="text/javascript" src="/app/emails/mvEmail.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailNewCtrl.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailListCtrl.js"></script>
<script type="text/javascript" src="/app/emails/mvEmailEditCtrl.js"></script>

<script type="text/javascript" src="/app/users/mvUser.js"></script>
<script type="text/javascript" src="/app/users/mvUserNewCtrl.js"></script>
<script type="text/javascript" src="/app/users/mvUserListCtrl.js"></script>
<script type="text/javascript" src="/app/users/mvUserEditCtrl.js"></script>

<script type="text/javascript" src="/app/mails/mvMail.js"></script>
<script type="text/javascript" src="/app/mails/mvMailListCtrl.js"></script>
<script type="text/javascript" src="/app/mails/mvMailViewCtrl.js"></script>

<script type="text/javascript" src="/app/resumes/mvResume.js"></script>
<script type="text/javascript" src="/app/resumes/mvResumeListCtrl.js"></script>

{% if (process.env.NODE_ENV == 'development') %}
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
{% endif %}
