<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="/css/jquery-ui-1.9.2.custom.min.css">
<link rel="stylesheet" href="/vendor/toastr/toastr.min.css">
<link rel="stylesheet" href="/vendor/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="/css/prettyPhoto.css">
<link rel="stylesheet" href="/css/rateit.css">
<link rel="stylesheet" href="/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/vendor/select2/select2.css">
<link rel="stylesheet" href="/vendor/select2/select2-bootstrap.css">
<link rel="stylesheet" href="/css/jquery.cleditor.css">
<link rel="stylesheet" href="/css/daterangepicker-bs3.css"/>
<link rel="stylesheet" href="/vendor/ng-grid/ng-grid.min.css"/>
<link rel="stylesheet" href="/css/docs.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/widgets.css">

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
<script src="/js/html5shim.js"></script>
<![endif]-->
