<div class="page">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>职位</strong>

      <div class="pull-right">
        <a href="#/settings/positions/new" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i>添加</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <label class="checkbox">
          <input type="checkbox" ng-change="checked()" ng-model="settings.positionRightControlled">

          <p>控制职位权限<span class="text-small text-danger">（如不勾选,所有人都可查看所有职位的应聘情况;否则,只有招聘负责人和该职位面试官才能查看)</span></p>
        </label>
      </div>
      <hr/>
      <div class="table-responsive">
        <table tr-ng-grid="" class="table table-bordered table-striped"
               items="positions" enable-filtering="false">
          <thead>
          <tr>
            <th field-name="name" class="col-md-2" display-name="职位" enable-filtering="false"
                enable-sorting="true"></th>
            <th enable-filtering="false" enable-sorting="false" >招聘负责人</th>
            <th class="col-md-2" field-name="department" display-name="部门" enable-filtering="false"
                enable-sorting="true"></th>
            <th class="col-md-1">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span ng-show="settings.positionRightControlled" ng-class="{'text-danger': !gridItem.owners.length}">{{gridItem.owners | orderBy:'name' | displayNames:'position' }}</span>
              <span ng-show="!settings.positionRightControlled">所有人</span>
            </td>
            <td>
              <edit-button action="edit(gridItem)"></edit-button>
              <delete-button action="remove(gridItem)"></delete-button>
            </td>
          </tr>
          </tbody>
        </table>

        <div ng-show="toBeAddedPositions.length > 0">
          <h5 class="text-info" ng-hide="settings.positionRightControlled">
            系统检测到以下应聘职位尚未添加，如果需要对职位使用单独的面试评价，请点击以下职位以创建面试职位评价。
          </h5>
          <h5 class="text-danger" ng-show="settings.positionRightControlled">
            系统检测到以下应聘职位尚未添加，因为您开启了职位权限控制，所有用户将不能查看应聘以下职位的简历。请点击以下职位进行设置。
          </h5>

          <div class="row">
            <div class="col-md-3" ng-repeat="p in toBeAddedPositions">
              <a href="#/settings/positions/new?name={{p}}">{{p}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>