<div class="page">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>面试设置</strong>
    </div>
    <div class="panel-body">
      <form name="eventSettingForm" novalidate="" class="form-horizontal form-validation">
        <div class="well text-danger" ng-show="err">
          {{err.message | state}}
        </div>
        <fieldset>
          <div class="form-group">
            <lable class="control-label col-md-2">面试默认时长(分钟)</lable>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="eventSetting.duration" name="duration"
                     placeholder="请输入时长(分钟)" ng-pattern="/\d+/" required=""/>

              <p class="text-danger"
                 ng-show="eventForm.duration.$error.required && !eventForm.duration.$pristine">
                请输入时长</p>

              <p class="text-danger"
                 ng-show="eventForm.duration.$error.pattern && !eventForm.duration.$pristine">
                请输入数字</p>
            </div>
          </div>
          <div class="ui-tab-container">
            <tabset class="ui-tab" justified="true">
              <tab heading="创建面试邀请">
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.newToApplier">
                    当创建面试邀请时，自动发送邮件提醒给应聘者
                  </label>

                  <div text-angular ng-model="eventSetting.newTemplateToApplier" name="newTemplateToApplier" ng-required="eventSetting.newToApplier"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.newTemplateToApplier.$error.required
                       && !eventSettingForm.newTemplateToApplier.$pristine">
                    请输入邮件内容模板</p>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.newToInterviewer">
                    当创建面试邀请时，自动发送邮件提醒给面试官
                  </label>

                  <div text-angular ng-model="eventSetting.newTemplateToInterviewer" ng-required="eventSetting.newToInterviewer" name="newTemplateToInterviewer"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.newTemplateToInterviewer.$error.required && !eventSettingForm.newTemplateToInterviewer.$pristine">
                    请输入邮件内容模板</p>
                </div>
              </tab>
              <tab heading="修改面试邀请">
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.editToApplier">
                    当修改面试邀请时，自动发送邮件提醒给应聘者
                  </label>

                  <div text-angular ng-model="eventSetting.editTemplateToApplier" name="editTemplateToApplier" ng-required="eventSetting.editToApplier"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.editTemplateToApplier.$error.required
                       && !eventSettingForm.editTemplateToApplier.$pristine">
                    请输入邮件内容模板</p>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.editToInterviewer">
                    当修改面试邀请时，自动发送邮件提醒给面试官
                  </label>

                  <div text-angular ng-model="eventSetting.editTemplateToInterviewer" name="editTemplateToInterviewer" ng-required="eventSetting.editToInterviewer"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.editTemplateToInterviewer.$error.required && !eventSettingForm.editTemplateToInterviewer.$pristine">
                    请输入邮件内容模板</p>
                </div>
              </tab>
              <tab heading="取消面试邀请">
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.deleteToApplier">
                    当取消面试邀请时，自动发送邮件提醒给应聘者
                  </label>

                  <div text-angular ng-model="eventSetting.deleteTemplateToApplier" name="deleteTemplateToApplier" ng-required="eventSetting.deleteToApplier"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.deleteTemplateToApplier.$error.required
                       && !eventSettingForm.deleteTemplateToApplier.$pristine">
                    请输入邮件内容模板</p>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_square-green"
                           ng-model="eventSetting.deleteToInterviewer">
                    当取消面试邀请时，自动发送邮件提醒给面试官
                  </label>

                  <div text-angular ng-model="eventSetting.deleteTemplateToInterviewer" name="deleteTemplateToInterviewer" ng-required="eventSetting.deleteToInterviewer"></div>
                  <p class="text-danger"
                     ng-show="eventSettingForm.deleteTemplateToInterviewer.$error.required && !eventSettingForm.deleteTemplateToInterviewer.$pristine">
                    请输入邮件内容模板</p>
                </div>
              </tab>
            </tabset>
          </div>
          <button class="btn btn-primary" ng-click="save()"
                  ng-disabled="eventSettingForm.$invalid">保存
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>