<div class="page">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-archive"></span>人才库</strong></div>
    <div class="panel-body">
      <form name="searchForm" class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-md-5 col-md-offset-3">
            <input type="text" class="form-control" name="q"
                   ng-model="queryOptions.q">
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" ng-click="query()">搜索</button>
          </div>
        </div>
        <div class="form-group" ng-show="facets.applyPosition.terms.length > 0">
          <div class="col-md-1 text-right">
            应聘职位
          </div>
          <div class="col-md-11">
            <ul class="list-inline">
              <li ng-repeat="term in facets.applyPosition.terms" ng-hide="queryOptions.applyPosition">
                <a ng-click="setApplyPosition(term.term)">{{term.term}}</a>
              </li>
              <li ng-show="queryOptions.applyPosition"><span class="text-danger">{{queryOptions.applyPosition}}<i
                class="fa fa-times" ng-click="setApplyPosition()"></i></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group" ng-show="facets.age.entries.length > 0">
          <div class="col-md-1 text-right">
            年龄
          </div>
          <div class="col-md-11">
            <ul class="list-inline">
              <li ng-repeat="entry in facets.age.entries" ng-hide="queryOptions.age">
                <a ng-click="setAge(entry.key)">{{entry.key | ageRange}}</a>
              </li>
              <li ng-show="queryOptions.age"><span class="text-danger">{{queryOptions.age | ageRange}}<i
                class="fa fa-times" ng-click="setAge()"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="form-group" ng-show="facets.highestDegree.terms.length > 0">
          <div class="col-md-1 text-right">
            学历
          </div>
          <div class="col-md-11">
            <ul class="list-inline">
              <li ng-repeat="term in facets.highestDegree.terms" ng-hide="queryOptions.highestDegree">
                <a ng-click="setHighestDegree(term.term)">{{term.term | degree}}</a>
              </li>
              <li ng-show="queryOptions.highestDegree"><span class="text-danger">{{queryOptions.highestDegree | degree}}<i
                class="fa fa-times" ng-click="setHighestDegree()"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="form-group" ng-show="facets.status.terms.length > 0">
          <div class="col-md-1 text-right">
            状态
          </div>
          <div class="col-md-11">
            <ul class="list-inline">
              <li ng-repeat="term in facets.status.terms" ng-hide="queryOptions.status">
                <a ng-click="setStatus(term.term)">{{term.term | resumeStatus}}</a>
              </li>
              <li ng-show="queryOptions.status">
                <span class="text-danger">{{queryOptions.status | resumeStatus}}<i
                  class="fa fa-times" ng-click="setStatus()"></i></span>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table tr-ng-grid="" class="table table-bordered table-striped" items="resumes"
               page-items="queryOptions.pageSize" on-data-required-delay="100"
               total-items="totalResumesCount" current-page="queryOptions.page"
               enable-filtering="false" enable-selections="false">
          <thead>
          <tr>
            <th field-name="name" display-name="姓名" enable-filtering="false"
                enable-sorting="false"></th>
            <th field-name="birthday" display-name="出生日期" enable-filtering="false"
                enable-sorting="false" display-format="yearAndMonth"></th>
            <th field-name="applyPosition" display-name="应聘职位" enable-filtering="false"
                enable-sorting="false"></th>
            <th field-name="educationHistory[0].school" display-name="毕业学校" enable-filtering="false"
                enable-sorting="false"></th>
            <th field-name="workExperience[0].company" display-name="所在公司" enable-filtering="false"
                enable-sorting="false"></th>
            <th field-name="yearsOfExperience" display-name="工作年限" enable-filtering="false"
                enable-sorting="false" display-format="yearsOfExperience"></th>
            <th field-name="status" display-name="状态" enable-filtering="false"
                enable-sorting="false" display-format="resumeStatus"></th>
            <th field-name="channel" display-name="招聘渠道" enable-filtering="false"
                enable-sorting="false"></th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td align="center">
              <view-button action="view(gridItem)"></view-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>