<div class="page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section class="panel panel-default">
        <div class="panel-heading">
          <strong>修改角色</strong>
        </div>
        <div class="panel-body">
          <form name="roleForm" novalidate="" class="form-validation">
            <div class="well text-danger" ng-show="err">
              {{err.message}}
            </div>
            <fieldset>
              <div class="form-group">
                <label>角色名称</label>
                <input type="text" ng-model="role.name" name="name"
                       class="form-control"
                       placeholder="角色名称" required=""/>

                <p class="text-danger"
                   ng-show="roleForm.name.$error.required && !roleForm.name.$pristine">
                  请输入角色名称</p>

              </div>
              <label class="checkbox">
                <input type="checkbox" ng-change="onCheckAllChanged()" ng-model="allChecked">

                <p>全部选择</p>
              </label>

              <div ui-tree>
                <ol ui-tree-nodes ng-model="menuPermissions">
                  <li ng-repeat="item in menuPermissions" ui-tree-node>
                    <div ui-tree-handle data-nodrag>
                      <i ng-if="item.submenus" ng-click="toggle(this)" class=" to-inline glyphicon"
                         ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
                      <i ng-if="!item.submenus" class=" to-inline glyphicon glyphicon-minus"></i>
                      <label class="to-inline checkbox">
                        <input type="checkbox" ng-change="onMenuCheckChanged(item)" ng-model="item.enabled">
                        {{item.cnName}}
                      </label>
                    </div>
                    <ol ui-tree-nodes ng-if="item.submenus" ng-model="item.submenus" ng-class="{hidden: collapsed}">
                      <li ng-repeat="submenu in item.submenus" ui-tree-node>
                        <div ui-tree-handle data-nodrag>
                          <label class="checkbox">
                            <input type="checkbox" ng-change="onSubmenuCheckChanged(item)" ng-model="submenu.enabled">
                            {{submenu.cnName}}
                          </label>
                        </div>
                      </li>
                    </ol>
                  </li>
                </ol>
              </div>

              <br/>
              <button class="btn btn-primary" ng-click="update()"
                      ng-disabled="roleForm.$invalid">保存
              </button>
              <button class="btn btn-default" ng-click="cancel()">取消</button>

            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>