<div class="page">
  <div class="row">
    <div class="col-md-6">
      <section class="panel panel-default">
        <div class="panel-heading">
          <strong>今日</strong>
        </div>
        <div class="panel-body">
          <accordion close-others="false">
            <accordion-group is-open="isopen.eventsOfToday">
              <accordion-heading>
                <span>今日面试</span>
                <i class="fa fa-user fa-lg"></i>
                <span class="badge badge-info">{{counts.eventsOfToday}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': isopen.eventsOfToday, 'glyphicon-chevron-right': !isopen.eventsOfToday}"></i>
              </accordion-heading>
              <div ng-repeat="event in eventsOfToday">
                <a href="#/resumes/{{event.application}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-orange"><i class="fa fa-user"></i></span>
                                </span>

                  <div class="media-body">
                    <span class="text-muted block">{{event | eventTimeRange}}</span>
                    <span class="block">{{event.name}}面试({{event.applyPosition}})</span>
                  </div>
                </a>
              </div>
            </accordion-group>

            <accordion-group is-open="isopen.onboards">
              <accordion-heading>
                <span>今日入职</span>
                <i class="fa fa-child fa-lg"></i>
                <span class="badge badge-info">{{counts.onboards}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': isopen.onboards, 'glyphicon-chevron-right': !isopen.onboards}"></i>
              </accordion-heading>
              <div ng-repeat="onboard in onboardsOfToday ">
                <a href="#/resumes/{{onboard.application}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success"><i class="fa fa-child fa-lg"></i></span>
                                </span>

                  <div class="media-body">
                    <span class="text-muted block">{{onboard.name}}</span>
                    <span class="block">{{onboard.applyPosition}}</span>
                  </div>
                </a>
              </div>
            </accordion-group>
            <accordion-group is-open="isopen.unreviewed">
              <accordion-heading>
                <span>待评面试</span>
                <i class="fa fa-pencil fa-lg"></i>
                <span class="badge badge-info">{{counts.unreviewed}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': isopen.unreviewed, 'glyphicon-chevron-right': !isopen.unreviewed}"></i>
              </accordion-heading>
              <div ng-repeat="unreviewed in unreviewedOfDays">
                <a href="#/interviews/reviews/{{unreviewed._id}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-warning"><i class="fa fa-pencil"></i></span>
                                </span>

                  <div class="media-body">
                    <span class="text-muted block">{{unreviewed.events[0].startTime|shortDate}}</span>
                    <span class="block">{{unreviewed.name}}应聘{{unreviewed.applyPosition}}</span>
                  </div>
                </a>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="panel panel-default">
        <div class="panel-heading">
          <strong>未来三天</strong>
        </div>
        <div class="panel-body">
          <accordion close-others="false">
            <accordion-group is-open="isopen.eventsOfNextDays">
              <accordion-heading>
                <span>未来三天面试</span>
                <i class="fa fa-user fa-lg"></i>
                <span class="badge badge-info">{{isopen.eventsOfNextDays}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': isopen.eventsOfNextDays, 'glyphicon-chevron-right': !isopen.eventsOfNextDays}"></i>
              </accordion-heading>
              <div ng-repeat="event in eventsOfNextDays ">
                <a href="#/resumes/{{event.application}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-orange"><i class="fa fa-user"></i></span>
                                </span>

                  <div class="media-body">
                    <span class="text-muted block">{{event | eventTimeRange}}</span>
                    <span class="block">{{event.name}}面试({{event.applyPosition}})</span>
                  </div>
                </a>
              </div>
            </accordion-group>
            <accordion-group is-open="isopen.onboardsOfNextDays">
              <accordion-heading>
                <span>未来三天入职</span>
                <i class="fa fa-child fa-lg"></i>
                <span class="badge badge-info">{{isopen.onboardsOfNextDays}}</span>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': isopen.onboardsOfNextDays, 'glyphicon-chevron-right': !isopen.onboardsOfNextDays}"></i>
              </accordion-heading>
              <div ng-repeat="onboard in onboardsOfNextDays ">
                <a href="#/resumes/{{onboard.application}}" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success"><i class="fa fa-child fa-lg"></i></span>
                                </span>

                  <div class="media-body">
                    <span class="text-muted block">{{onboard.onboardDate | shortDate}}</span>
                    <span class="block">{{onboard.name}}({{onboard.applyPosition}})</span>
                  </div>
                </a>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </section>
    </div>
  </div>
</div>